<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equv="X-UA-Compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Particles</title>

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-4" id="login">ddsasssasasassdss</div>
			<div class="col-sm-4">ds</div>
			<div class="col-sm-4">ds</div>
		</div>
	</div>
	<div id="particles-js">
		<div id="login">
			<form>
				<div>
					<label for="username">User Name</label><br>
					<input type="text" name="username" placeholder="Enter username">
				</div>
				<div>
					<label for="password">Password</label><br>
					<input type="password" name="password" placeholder="Enter Password">
				</div>
				<input  type="submit" value="Login">
			</form>
			
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

	<script>
		
		particlesJS.load('particles-js', 'particles.json', 
			function(){
				console.log('particles.json loaded...');
			});

	</script>
<div class="container">
		<div class="row">
			<div class="col-sm-4" id="login">ddsasssasasassdss</div>
			<div class="col-sm-4" id="login">ds</div>
			<div class="col-sm-4" >ds</div>
		</div>
	</div>


</body>

</html>